/.idea/
.gitattributes
/node_modules
/public/uploads/*
/public/upload/*

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant
1.php
#public/uploads/excel/
#.env.example
.gitattributes
/runtime/cache/*
/runtime/temp/*
application/database.php
public/upload/goods.thumb

